<h1>Process uploaded form & results</h1>

<div>
Image: <%= @the_image %>
</div>
<div>
Description: <%= @the_description %>
</div>

<dl>
  <dt> Carbs (g)</dt>
  <dt><%= @g_carbs %></dt>

  <dt> Protein (g)</dt>
  <dt><%= @g_protein %></dt>

  <dt> Fat (g)</dt>
  <dt><%= @g_fat %></dt>

  <dt> Total calories (kcal)</dt>
  <dt><%= @g_kcal %></dt>

  <dt> Additional notes</dt>
  <dt><%= @notes %></dt>

</dl>
